.navbar {
  background-color: #2a8dfc;
 
}
.footer {
  background-color: #2a8dfc;
}
.tbody {
  background-color: #fbedee;
}
.personCard {
  width: 240px;
  margin: 25px;
  float: left;
}
.userContainer {
  height: 1000px;
}